<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.weather">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Weather"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="sugar_places.db" />
        <meta-data android:name="VERSION" android:value="6" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME"
            android:value="project.weather" />

        <activity android:name="project.weather.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewpager.ViewActivity"></activity>
    </application>

</manifest>
